<%$i = 0%>
<%$total = 5%>
<%while $i <= $total do%>
<%@day = @total_days[$i]%>
<div class="col-xs-2">
   <%= @day[:format_date]%><br/>
   <%=image_tag('http://openweathermap.org/img/w/'+@day[:icon]+'.png')%><br/>
   <%= @day[:description]%>
   <p>Day:
     <%= @day[:day_temp]%>
     F</p>
   <p>Night:
     <%= @day[:night_temp]%>
     F</p>
 </div>

<%$i+=1%>
<%end%>
